<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="css/mainstyle.css"
  th:href="@{/css/mainstyle.css}">
      <link rel="stylesheet" href="css/login.css"
      th:href="@{/css/login.css}">
  <style>
    .login li {
      list-style: none;

    }
    .login a{
      text-decoration-line: none;
    }
    .alertTxt{
      color: red;
    }
  </style>
</head>

<body>
<!-- header-->
<div th:insert="~{/main/header.html}"></div>
<div id="header">
  <img src="images/logo.png" id="logo"></a>
</div>
<!--header 끝-->

<section class="login">
  <h2>로그인</h2>
  <form action="login.html" th:action th:object="${loginForm}" method="post">
  <ul>
    <li><input type="text" placeholder="아이디" th:field="*{loginId}"title="아이디입력" required></li>
    <li><input type="password" placeholder="비밀번호" title="비밀번호입력" th:field="*{password}" required> </li>
    <span class="alertTxt" th:errors="*{password}">비밀번호가 올바르지 않습니다.</span>
<!--    <li><input type="checkbox" id="chk_id"><label for="chk_id">아이디저장</label></li>-->
      <li><button type="submit">
      <span>로그인</span>
    </button>
      </li>
  </ul>
  </form>
  <div>
    <a href="join.html" th:href="@{/join}">회원가입</a>
    <a href="" th:href="@{/find_id}">아이디 찾기</a>
    <a href="" th:href="@{/find_pw}">비밀번호 찾기</a>
  </div>
</section>
<!--<div th:insert="~{/main/footer.html}"></div>-->
</body>
</html>