<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="ko" xmlns="http://www.w3.org/1999/html">

<head>
    <meta charset="UTF-8">
    <title>CAFE</title>
  <link rel="stylesheet" href="css/style.css"
  th:href="@{/css/style.css}">
  <link rel="stylesheet" href="css/style2.css"
  th:href="@{/css/style2.css}">
  <link rel="stylesheet" href="css/mainstyle.css"
  th:href="@{/css/mainstyle.css}">
</head>
<body>
<!--        <div class="navbar">-->
<!--        <a href="main.html" id="logo">-->
<!--            <img src="images/logo.png." width="100" height="50">-->
<!--        </a>-->
<!--        <ul>-->
<!--            <ul id="menu">-->
<!--                <li class="navbar bg-body-tertiary">-->
<!--                    <div class="container-fluid">-->
<!--                        <form class="d-flex" role="search">-->
<!--                            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">-->
<!--                            <button class="btn btn-outline-success" type="submit">Search</button>-->
<!--                        </form>-->
<!--                    </div>-->
<!--                </li>-->
<!--                <li><a href="login.html">로그인</a></li>-->
<!--                <li><a href="join.html">회원가입</a></li>-->
<!--                <li><a href="#">카페 리스트</a></li>-->
<!--            </ul>-->
<!--        </ul>-->
<!--  </div>-->
    <div th:insert="~{/main/header.html}"></div>


  <div class="detail-header">
      <table th:each="cafe : ${cafes}">
      <tr>
        <td>
          <img src="images/Cafe/Dozenmatter/더즌매터1.jpg" width="360" height="350"
          th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/1.jpg|">
        </td>
        <td>
          <img src="images/Cafe/Dozenmatter/더즌매터2.jpg" width="360" height="350"
               th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/2.jpg|">
        </td>
        <td>
          <img src="images/Cafe/Dozenmatter/더즌매터3.jpg" width="360" height="350"
               th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/내부1.jpg|">
        </td>
        <td>
          <img src="images/Cafe/Dozenmatter/더즌매터4.jpg" width="360" height="350"
               th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/3.jpg|">
        </td>
        <td>
          <img src="images/Cafe/Dozenmatter/더즌매터5.jpg" width="360" height="350"
               th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/4.jpg|">
        </td>
      </tr>
    </table>
  </div>

<!-- 상단바 로그인 회원가입 기타 등등 시작-->

<!-- 끝 -->
<div class="wrapper">
<div style="margin:100px 200px 200px 0px;">
<div class="product_view"><!--레이아웃 나누기-->
<h2 th:text="${cafes.cafeName}">더즌매터</h2>
  <section>
  <table th:each="cafe : ${cafes}">
   <colgroup><!-- 표의 열을묶는 그룹을 정의한다 <colgroup>은 모든 <thead>, <th>, <tbody>, <tfoot>, <tr> 요소 앞에 위치해야 하며, \
   <table> 안에 <caption> 요소가 존재하는 경우 <caption> 뒤에 와야 한다.-->
     <col style="width:140px;">

   </colgroup>
   <tbody>
   <tr>
   <th class="price">지점명</th>
   <td th:text="${cafe.cafeName}">더즌매터</td>
   </tr>
   <tr>
     <th>주소</th>
     <td th:text="${cafe.address}">인천 부평구 부평대로
<!--       <span style="border-radius:2px;border:solid 1px #e9e9e9;padding:0 4px;margin-right:2px;font-size:12px;color:#7f7f7f">-->
<!--           지번</span>-->
<!--       <span>38번길 28</span>-->
     </td>
   </tr>
   <tr>
     <th>전화 번호</th>
     <td th:text="${cafe.cafeNumber}">
         070-8860-4926
     </td>
   </tr>

   <tr>
     <th>대표 메뉴</th>
     <td>
       <span style="padding-right: 20px" th:text="${cafe.menu1}">더스위크림</span>
     </td>
   </tr>
   <tr>
     <th></th>
     <td>
       <span style="padding-right: 20px" th:text="${cafe.menu2}">엑설러트 라떼</span>
     </td>
   </tr>
   <tr>
     <th></th>
     <td>
       <span style="padding-right: 20px" th:text="${cafe.menu3}">너티브라운</span>
     </td>
   </tr>
   </tbody>
 </table>
  <div class="img" th:each="cafe : ${cafes}">
    <img src="images/Cafe/Dozenmatter/더즌매터1.jpg"
         th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/내부1.jpg|">
<!--    <ul>-->
<!--      <li class="on"><a href="#"><img src="images/img.jpg" alt=""></a></li>-->
<!--      <li><a href="imgages/logo.jpg"><img src="images/img.jpg" alt=""></a></li>-->
<!--    </ul>-->
  </div>
  <div class="btns">
    <a href="#a" class="btn1" th:href="@{/review}">리뷰쓰기</a>
    <a href="#a" class="btn2" th:href="@{/review_list}">리뷰보기</a>
<!--    <a href="#a" class="btn2" th:href="|@{/{cafe.cafeName}/review_list}|">리뷰보기</a>-->
  </div>
  </section>
</div>
</div>
</div>


<div class="wrapper2">
    <section>
        <aside th:each="cafe : ${cafes}">
            <img src="images/Cafe/Dozenmatter/map.jpg" width="230" heaight="220"
                 th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/지도.jpg|">
            <img src="images/Personal/dozenmatter/더즌매터1.jpg" width="230" height="220"
                 th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/1.jpg|">
            <img src="images/Personal/dozenmatter/더즌매터2.jpg" width="230" height="220"
                 th:src="|/images/${cafe.cafeType}/${cafe.cafeName}/4.jpg|">
        </aside>
    </section>
</div>
<div class="footer">
    <div th:insert="~{/main/footer.html}"></div>
<!--    <footer style="background-color: #DCDCDC">-->
<!--        <p>인천시 부평구 더 조은(주)카페 플레이스</p>-->
<!--        <p>사업자등록번호 : 215-86-93600·통신판매업신고 : 2009-서울송파-0069호·부가통신사업신고필증 : 021129</p>-->
<!--        <p>webmaster@iloom.com·Copyright (c) 2018  lnc. All rights reserved</p>-->
<!--    </footer>-->
</div>
</body>
</html>